@font-face {
  font-family: "robotoLight";
  src: url(../webfonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "robotoReg";
  src: url(../webfonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "robotoMed";
  src: url(../webfonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "robotoBold";
  src: url(../webfonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "robotoBlack";
  src: url(../webfonts/Roboto-Black.ttf);
}
body {
  font-family: "robotoLight", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "robotoMed", Arial, Helvetica, sans-serif;
}

.map,
.map iframe {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body,
.mapContainer {
  height: 100%;
  margin: 0;
  padding: 0;
}

a.iconItem {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  background-color: #ed414e;
  padding: 10px 15px;
  border-radius: 35%;
  transform: rotate(-2deg);
  transition: all 0.35s ease-in-out;
}

a.iconItem:hover {
  background-color: #f55865;
  /* transform: rotate(-360deg);*/
}

.mapOptions {
  width: 100%;
  display: block;
}
.mapOptions .mapMenu {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}

.mapSideMenu {
  background-color: #f2f2f2;
  padding: 5px;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}
.mapSideMenu::-webkit-scrollbar {
  width: 8px;
  visibility: hidden;
}
.mapSideMenu::-webkit-scrollbar-button {
  background: #ed414e;
  display: none;
}
.mapSideMenu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.mapSideMenu::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mapSideMenu .mapSideWrapper {
  background-color: #fff;
  /* height: 100%; */
  box-shadow: 1px 0px 4px 1px #e5e5e5;
  margin-bottom: 5px;
  padding: 10px;
}
.mapSideMenu .mapSideWrapper hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul.menuNav {
  list-style-type: none;
  text-align: center;
}

ul.menuNav li {
  display: inline-block;
  margin: 0.5rem;
}

ul.menuNav .searchMap {
  width: 30%;
}

ul.menuNav .searchMap .form-group {
  display: flex;
  justify-content: center;
  position: relative;
}

ul.menuNav .searchMap .form-group input {
  border-radius: 20px;
  height: 46px;
  box-shadow: 0px 1px 2px 0px #ced4da;
}

.menuNav .searchMap .form-group a {
  position: absolute;
  right: 0px;
  top: 1px;
}

.menuNav .setAddress a {
  color: #ed414e;
  background-color: #fff;
  padding: 10px 30px 12px 15px;
  border-radius: 20px;
  font-weight: 300;
  border: 1px solid #ced4da;
  box-shadow: 0px 1px 2px 0px #ced4da;
}

.menuNav .setAddress a img {
  width: 15%;
}

/************************offCanvas - left side bar*************************/
body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  position: absolute;
  right: -40px;
  top: 100px;
  color: #e5e5e5 !important;
  bordeR: none;
  z-index: -1;
}
.offcanvas-header button {
  color: #555;
  border: 1px solid #bbb;
  width: 40px;
  height: 40px;
  line-height: 30px;
  outline: none !important;
}

.screen-overlay.showCanvas {
  transition: opacity 0.5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.mobile-offcanvas {
  visibility: hidden;
  transform: translateX(-100%);
  border-radius: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1200;
  width: 24%;
  transition: visibility 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.mobile-offcanvas.showCanvas {
  visibility: visible;
  transform: translateX(0);
}

@media all and (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }
}
/**********************************PAGE-2**********************************/
.buildingSlider .carousel-indicators {
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  overflow-x: auto;
  justify-content: normal;
  margin-bottom: 5px;
}
.buildingSlider .carousel-indicators img {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-color: #ed414e;
  width: 60px;
  height: 40px;
  margin: 5px 3px auto;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid transparent !important;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}
.buildingSlider .carousel-indicators img:active, .buildingSlider .carousel-indicators img.active {
  border-color: #ed414e !important;
}
.buildingSocial {
  padding: 5px 20px !important;
}
.buildingSocial .ihNumber {
  margin-bottom: 10px;
}
.buildingSocial .ihNumber p {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 0.8em;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .buildingSocial .ihNumber p {
    font-size: 24px;
  }
}
.buildingSocial .ihNumber span {
  display: inline-block;
  opacity: 0.6;
  font-size: 0.8rem;
}
.buildingSocial .shareOptions ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin-bottom: 0;
}
.buildingSocial .shareOptions ul a {
  text-decoration: none;
}
.buildingSocial .shareOptions ul a li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px auto;
}
.buildingSocial .shareOptions ul a li i, .buildingSocial .shareOptions ul a li small {
  color: #ed414e;
}
.buildingSocial .shareOptions ul a li i {
  font-size: 1.3em;
}
.buildingSocial .shareOptions ul a li small {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "robotoBold", Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

.buildingAddress {
  padding: 15px 15px 10px !important;
}
.buildingAddress h5 {
  color: #ed414e;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}
.buildingAddress p {
  font-family: "robotoLight", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.buildingAddress .checkAddress button {
  color: #555;
  border: 1px solid #bababa;
  margin-bottom: 0.5rem;
  padding: 3px 20px;
  border-radius: 10px;
}
.buildingAddress .checkAddress button:hover {
  background-color: #ed414e;
  color: #fff;
  border: 1px solid #ed414e;
}

/*# sourceMappingURL=style-min.css.map */
